@import "tailwindcss";

:root {
  --background: hsl(234 48% 7%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(234 34% 19%);
  --popover: hsl(234 34% 19%);

  --primary: hsl(217 67% 53%);
  --secondary: hsl(284 100% 62%);
  /* --muted: hsl(234 26% 25%); */
  --accent: hsl(190 100% 50%);
  --destructive: hsl(340 100% 63%);
  --success: hsl(165 82% 51%);
  --warning: hsl(45 100% 51%);

  --input: hsl(234 26% 25%);
  --ring: hsl(217 67% 53%);
}

/* Base styles */
* {
  outline-color: color-mix(in srgb, var(--ring) 50%, transparent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Dark mode */
.dark {
  --background: hsl(234 48% 7%);
  --foreground: hsl(0 0% 98%);

  --card: hsl(234 34% 19%);
  --popover: hsl(234 34% 19%);

  --primary: hsl(217 67% 53%);
  --secondary: hsl(284 100% 62%);
  /* --muted: hsl(234 26% 25%); */
  --accent: hsl(190 100% 50%);
  --destructive: hsl(340 100% 63%);
  --success: hsl(165 82% 51%);
  --warning: hsl(45 100% 51%);

  --input: hsl(234 26% 25%);
  --ring: hsl(217 67% 53%);
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(4px);
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(4px);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}